#img1{
background: url('images/profile_img1.jpg') no-repeat  ;
background-size:270px;
position:fixed;
height:100%;
width:100%;
top:120px;
left:70px;
}

#txt1{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:rgb(75,0,130);
position:fixed;
top:100px;
left:80px;
}

#inf{
font-size:23px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:green;
position:fixed;
top:35px;
left:1130px;
}

input#change{
padding: 4px 20px;
cursor:pointer; 
background:red; 

border:2px outset #dad9d8;
font-family:Andika, Arial, sans-serif; 
font-size:1.1em;
letter-spacing:0.05em;
text-transform:uppercase;
color:#fff;
text-shadow: 0px 1px 10px #000;

border-radius: 15px;
height:30px;width:145p;
position:fixed;
left:105px;
top:320px;
}
#img2{
background: url('images/profile_img1.jpg') no-repeat  ;
background-size:70px;
position:fixed;
height:100%;
width:100%;
top:25px;
left:1050px;
}

#fst_nm{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:rgb(75,0,130);
position:fixed;
top:400px;
left:80px;
}

#fst_value{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:red;
position:fixed;
top:400px;
left:170px;
}
#lst_nm{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:rgb(75,0,130);
position:fixed;
top:430px;
left:80px;
}

#lst_value{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:red;
position:fixed;
top:430px;
left:165px;
}
#work{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:rgb(75,0,130);
position:fixed;
top:460px;
left:80px;
}

#work_value{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:red;
position:fixed;
top:460px;
left:161px;
}
#school{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:rgb(75,0,130);
position:fixed;
top:490px;
left:80px;
}

#school_value{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:red;
position:fixed;
top:490px;
left:222px;
}

#live{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:rgb(75,0,130);
position:fixed;
top:520px;
left:80px;
}

#live_value{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:red;
position:fixed;
top:520px;
left:148px;
}
#email{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:rgb(75,0,130);
position:fixed;
top:550px;
left:80px;
}

#email_value{
font-size:17px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:red;
position:fixed;
top:550px;
left:132px;
}
input#change2{
padding: 4px 20px;
cursor:pointer; 
background:red; 

border:2px outset #dad9d8;
font-family:Andika, Arial, sans-serif; 
font-size:0.9em;
letter-spacing:0.05em;
text-transform:uppercase;
color:#fff;
text-shadow: 0px 1px 10px #000;

border-radius: 15px;
height:30px;width:145p;
position:fixed;
left:520px;
top:350px;
}
input#fst_nm1{
 left:582px;
 top:70px;
 position:fixed;
	background:  #ccc; 
	border: 1px solid #666; 
	box-shadow: 0 0 5px #666 inset; 
	color: #333; 
	float: left; 
	outline: none; 
 }
 input#lst_nm1{
 left:582px;
 top:100px;
 position:fixed;
	background:  #ccc; 
	border: 1px solid #666; 
	box-shadow: 0 0 5px #666 inset; 
	color: #333; 
	float: left; 
	outline: none; 
 }
 input#wrk1{
 left:650px;
 top:130px;
 position:fixed;
	background:  #ccc; 
	border: 1px solid #666; 
	box-shadow: 0 0 5px #666 inset; 
	color: #333; 
	float: left; 
	outline: none; 
 }
  input#lve{
 left:650px;
 top:190px;
 position:fixed;
	background:  #ccc; 
	border: 1px solid #666; 
	box-shadow: 0 0 5px #666 inset; 
	color: #333; 
	float: left; 
	outline: none; 
 }
  input#sch{
 left:740px;
 top:160px;
 position:fixed;
	background:  #ccc; 
	border: 1px solid #666; 
	box-shadow: 0 0 5px #666 inset; 
	color: #333; 
	float: left; 
	outline: none; 
 }
 input#mail{
 left:562px;
 top:250px;
 position:fixed;
	background:  #ccc; 
	border: 1px solid #666; 
	box-shadow: 0 0 5px #666 inset; 
	color: #333; 
	float: left; 
	outline: none; 
 }
 input#pass1{
 left:1050px;
 top:350px;
 position:fixed;
	background:  #ccc; 
	border: 1px solid #666; 
	box-shadow: 0 0 5px #666 inset; 
	color: #333; 
	float: left; 
	outline: none; 
 }
  input#pass2{
 left:1050px;
 top:380px;
 position:fixed;
	background:  #ccc; 
	border: 1px solid #666; 
	box-shadow: 0 0 5px #666 inset; 
	color: #333; 
	float: left; 
	outline: none; 
 }
 input#pass3{
 left:1100px;
 top:410px;
 position:fixed;
	background:  #ccc; 
	border: 1px solid #666; 
	box-shadow: 0 0 5px #666 inset; 
	color: #333; 
	float: left; 
	outline: none; 
 }
 #nr1{
font-size:17px;
 position:fixed;
 top: 70px;
 left: 500px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:blue;
 }
  #nr2{
font-size:17px;
 position:fixed;
 top: 100px;
 left: 500px;

 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:blue;
 }
 #nr3{
font-size:17px;
 position:fixed;
 top: 130px;
 left: 500px;
 
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:blue;
 }
  #nr4{
font-size:17px;
 position:fixed;
 top: 160px;
 left: 500px;
 
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:blue;
 }
   #nr5{
font-size:17px;
 position:fixed;
 top: 190px;
 left: 500px;
 
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:blue;
 }
 
    #nr6{
font-size:17px;
 position:fixed;
 top: 250px;
 left: 500px;
 
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:blue;
 }
 
     #old_password{
font-size:17px;
 position:fixed;
 top: 350px;
 left: 930px;

 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:blue;
 }
      #new_password{
font-size:17px;
 position:fixed;
 top: 380px;
 left: 930px;
 
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:blue;
 }
      #ret_password{
font-size:17px;
 position:fixed;
 top: 410px;
 left: 930px;
 font-family:"Times New Roman", Times, serif;
 font-style:italic;
 color:blue;
 }
 
 input#change3{
padding: 4px 20px;
cursor:pointer; 
background:red; 

border:2px outset #dad9d8;
font-family:Andika, Arial, sans-serif; 
font-size:0.9em;
letter-spacing:0.05em;
text-transform:uppercase;
color:#fff;
text-shadow: 0px 1px 10px #000;

border-radius: 15px;
height:30px;width:145p;
position:fixed;
left:950px;
top:540px;
}

input#change4{
padding: 4px 20px;
cursor:pointer; 
background:red; 

border:2px outset #dad9d8;
font-family:Andika, Arial, sans-serif; 
font-size:0.9em;
letter-spacing:0.05em;
text-transform:uppercase;
color:#fff;
text-shadow: 0px 1px 10px #000;

border-radius: 15px;
height:30px;width:145p;
position:fixed;
left:40px;
top:25px;
}

	#mesaj2{
 font-size:17px;
 position:fixed;
 top: 470px;
 left: 950px;
 color:red;
}
body{
background: url('images/back_prof.png')  no-repeat  #f6f1b9;

position:fixed;
height:100%;
width:100%;
}